@page "/"
@layout MainLayout

<PageTitle>Inicio</PageTitle>

<link href="css/home.css" rel="stylesheet" />

<div class="home-container">
    <div class="welcome-card">
        <h1 class="titulo">👋 Bienvenido al Sistema de Inventario</h1>

        <p class="descripcion">
            Administra y controla tu inventario con precisión, eficiencia.
            Gestiona productos, movimientos y usuarios desde un entorno moderno.
        </p>

        <div class="home-stats">
            <div class="stat">
                <i class="bi bi-box-seam"></i>
                <h3>Gestión de Productos</h3>
                <p>Agrega, edita y controla tu stockl.</p>
            </div>

            <div class="stat">
                <i class="bi bi-person-circle"></i>
                <h3>Clientes</h3>
                <p>Administra Clientes fácilmente.</p>
            </div>

            <div class="stat">
                <i class="bi bi-people"></i>
                <h3>Usuarios</h3>
                <p>Administra roles, accesos y permisos fácilmente.</p>
            </div>

           
        </div>

        <div class="quick-actions">
            <a href="/Lista_Producto"><i class="bi bi-box"></i> Ir a Productos</a>
            <a href="/Lista_Movimientos"><i class="bi bi-person-arms-up"></i> Ir a clientes</a>
            <a href="/Lista_Usuario"><i class="bi bi-person-badge"></i> Administrar Usuarios</a>
        </div>
    </div>
</div>
