@page "/Registrar_Producto"
@using Frontend_Inventario.Modelos
@using Frontend_Inventario.Servicios
@using Frontend_Inventario.Servicios.iServicios

@inject Producto_Interface servicioProducto
@inject NavigationManager navigationManager

<div class="row">
    <div class="col-lg-12">
        <br />
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Registro de productos</h4>
            </div>
            <div class="card-body">

                <EditForm Model="producto_Modelo_Peticion" OnValidSubmit="@(() => GuardarProducto())" class="row g-3">

                    <div class="col-md-6">
                        <label for="nombreProducto" class="form-label">Nombre</label>
                        <InputText @bind-Value="producto_Modelo_Peticion.nombre" class="form-control" id="nombreProducto" />
                    </div>

                    <div class="col-md-6">
                        <label for="descripcionProducto" class="form-label">Descripción</label>
                        <InputText @bind-Value="producto_Modelo_Peticion.descripcion" class="form-control" id="descripcionProducto" />
                    </div>

                    <div class="col-12">
                        <label for="precioCompra" class="form-label">Compra</label>
                        <InputNumber @bind-Value="producto_Modelo_Peticion.precioCompra" class="form-control" id="precioCompra" placeholder="0.00" />
                    </div>

                    <div class="col-12">
                        <label for="precioVenta" class="form-label">Venta</label>
                        <InputNumber @bind-Value="producto_Modelo_Peticion.precioVenta" class="form-control" id="precioVenta" placeholder="0.00" />
                    </div>

                    <div class="col-md-6">
                        <label for="stockActual" class="form-label">Stock actual</label>
                        <InputNumber @bind-Value="producto_Modelo_Peticion.stockActual" class="form-control" id="stockActual" />
                    </div>

                    <div class="col-md-6">
                        <label for="stockMinimo" class="form-label">Stock mínimo</label>
                        <InputNumber @bind-Value="producto_Modelo_Peticion.stockMinimo" class="form-control" id="stockMinimo" />
                    </div>

                    <div class="col-md-6">
                        <label for="idCategoria" class="form-label">ID Categoría</label>
                        <InputNumber @bind-Value="producto_Modelo_Peticion.idCategoria" class="form-control" id="idCategoria" />
                    </div>

                    <div class="col-md-6">
                        <label for="idProveedor" class="form-label">ID Proveedor</label>
                        <InputNumber @bind-Value="producto_Modelo_Peticion.idProveedor" class="form-control" id="idProveedor" />
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </EditForm>

            </div>
        </div>
    </div>
</div>


@code {
    private Producto_Modelo_Peticion producto_Modelo_Peticion { get; set; } = new Producto_Modelo_Peticion();

    private async Task GuardarProducto()
    {
        producto_Modelo_Peticion.proceso = 1; // Indicar que es un registro nuevo
        producto_Modelo_Peticion.idProducto = 0; // 0 para crear nuevo producto
        producto_Modelo_Peticion.margenGanancia = 0;
        var respuesta = await servicioProducto.Crear_Producto(producto_Modelo_Peticion);
        // Navegar de vuelta a la lista de productos después de guardar
        navigationManager.NavigateTo("Lista_Producto");
    }

}
